[include fluidd.cfg]
[include buzzer.cfg]

[verify_heater extruder]
check_gain_time: 120

[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE
 G1 X0 Y0 Z10 F4000

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PA4

[screws_tilt_adjust]
screw1: 66, 66
screw1_name: front left screw
screw2: 306, 66
screw2_name: front right screw
screw3: 306, 300
screw3_name: rear right screw
screw4: 66, 300
screw4_name: rear left screw
horizontal_move_z: 10
speed: 90
screw_thread: CW-M4

[bed_mesh]
speed: 80
mesh_min: 10,10
mesh_max: 270,250
algorithm: bicubic
probe_count: 5,5
horizontal_move_z: 10
relative_reference_index: 5

[display] # RET6 12864 LCD
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[safe_z_home]
home_xy_position: 150, 150
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -33
y_offset: -44
#z_offset: 0.005
speed: 20
pin_move_time: 0.4
probe_with_touch_mode: True
stow_on_each_sample: False
pin_up_touch_mode_reports_triggered: False
set_output_mode: 5V

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_min: 0
position_max: 310
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_min: 0
position_max: 310
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 330
position_min: -5

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 25.7949174
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 270
pressure_advance: 0.0               # Calibrate - see https://www.klipper3d.org/Pressure_Advance.html

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 500
max_z_velocity: 100
max_z_accel: 1000
square_corner_velocity: 5.0

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin:rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
  100,100,20 # an example


#[z_tilt]
#z_positions:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
#points:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#retries: 0
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

# fluidd configuration
[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.494
#*# pid_ki = 1.148
#*# pid_kd = 91.453
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.062
#*# pid_ki = 0.934
#*# pid_kd = 1351.070
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.122500, -0.027500, -0.025000, -0.022500, -0.005000
#*# 	  -0.177500, -0.027500, -0.060000, -0.030000, 0.000000
#*# 	  -0.200000, -0.060000, -0.037500, 0.000000, 0.020000
#*# 	  -0.157500, -0.050000, -0.052500, -0.047500, 0.000000
#*# 	  -0.105000, -0.025000, 0.012500, -0.007500, 0.002500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 5
#*# max_y = 250.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
#*#
#*# [bltouch]
#*# z_offset = 3.175
